*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
}

header{
    text-align: center;
    background-color: #17202A;
    color: #fff;
    padding: 1rem 0;
}

#container-small{
    width: 30%;
    padding: 1%;
}

#container-big{
    width: 70%;
    margin-left: 1%;
    padding: 1%;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

.low{
    padding: 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.medium{
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: yellow;
    color: white;
}

.high{
    padding: 5px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

.very-high{
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    color: white;
}