*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    display: flex;
}

header{
    text-align: center;
    background-color: #17202A;
    color: #fff;
    padding: 1rem 0;
}

#container-small{
    width: 30%;
    padding: 1%;
    background-color: #F2F3F4;
}

#container-small h3{
    color: #17202A;
}

#container-big{
    width: 70%;
    margin-left: 1%;
    padding: 1%;
}

.weather-container{
    border: 1px solid gray;
    padding: 0 10px 10px 10px;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

.low{
    padding: 5px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: green;
    color: white;
}

.medium{
    padding: 5px;
    border: 1px solid rgb(214, 201, 23);
    border-radius: 10px;
    background-color: rgb(214, 201, 23);
    color: white;
}

.high{
    padding: 5px;
    border: 1px solid orange;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

.very-high{
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.forecast-container{
    margin-top: 2.5%;
}

.all-forecast-cards{
    display: flex;
    justify-content: space-between;
}

.forecast-card{
    width: 20%;
    padding: 10px;
    margin-right: 2%;
    background-color: rgb(56, 106, 170);
    border: 1px solid rgb(56, 106, 170);
    border-radius: 10px;
    color: white;
    text-align: center;
}

#list-items{
    padding: 0;
}

.list-item{
    padding: 10px;
    background-color: white;
    color: #626567;
    margin: 5px;
    list-style-type: none;
}

.list-item:hover{
    background-color: #626567;
    color: white;
    cursor: pointer;
}